.leftAlign figure {
    float: right;
    width: 40%;
    padding-left: 25px;
}

.leftAlign h3 {
    text-align: left;
}

.rightAlign figure {
    float: left;
    width: 40%;
    padding-right: 25px;
}

.rightAlign h3 {
    text-align: left;
}

.leftAlign img {
    float: left;    
    margin-right: 20px;

}
.rightAlign img {
    float: right;
    margin-left: 20px; 

}
.leftAlign youtube-player {
    float: left;    
    margin-right: 20px;

}
.rightAlign youtube-player {
    float: right;
    margin-left: 20px; 

}
.clear {
    clear:both;
    margin:0px;
    padding:0px;
}

.reflection {    
    border-bottom: outset 1px;
    min-height: 250px;
}

section img {
    border: solid 1px;
    width: 500px;
    max-width: 100%;
}

.hidden{
    display: none;
}

